
<form action="@Url.Action("Index", "Home")" method="post">
    <br />
    Username: <input type="text" name="username"> &nbsp;&nbsp;&nbsp;  <br /><br />
    Password: &nbsp;<input type="password" name="password"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" width="50" value="Log In" /> <br /><br />
</form>